<div class="white-background">
  <div class="confirmation-page">
    <div class="row">
      <div class="col-md-6">
        <h1>Get There Faster!</h1>
        <%= render 'share_btn' %>
        <br>
        <p>
          Collaboratively evisculate top-line internal or "organic" sources whereas turnkey growth strategies. Rapidiously monetize proactive value without high-payoff models. Quickly architect bleeding-edge metrics before standards compliant architectures. Seamlessly leverage existing client-focused scenarios for principle-centered methods of.
        </p>
      </div>
      <div class="col-md-6">
        <div class="circle">
          <div class="inner">
            <p class="number"><%= @sign_ups %></p>
            <p class="text">Sign-ups in your area!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


