/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap1
 *= require select2
 *= require select2-bootstrap
 *= require rrssb
 */

body {

  .container {
    width: 940px;
    padding-left: 0px;
  }

  header#top {
    margin-bottom: 0;
    background-color: #F7F7F7;
    border-bottom: 0;

    .navbar-nav li a {
      font-weight: 500;
      color: #563d7c;
    }

    a.navbar-brand {
      font-weight: 500;
      color: #563d7c;
    }
  }

  .main-content {

    .landing-page {
      margin: auto;
      padding-top: 40px;
      width: 940px;
      color: white;
      h1.message {
        text-align: center;
      }

      .signup-panel {
        margin-top: 40px;

        .left-message {
          font-size: 16px;
        }

        .signup-form {
          border: 2px solid white;
          padding: 20px;

          .form-group {
            margin-top: 30px;
          }

          .btn-submit {
            border-radius: 0px;
            color: black;
            background-color: white;
          }

          label {
            font-size: 20px;
          }

          input {
            border-radius: 0px;
            background-color: #00A2E8;
            border: 1px solid white;
            color: white;
          }
        }
      }


      .foot-message {
        margin-top: 40px;
        text-align: center;
        p {
          font-size: 24px;
        }
      }
    }
    .list-users {
      background-color: white;
      padding: 20px;
    }

    .confirmation-page {
      width: 940px;
      margin: auto;
      color: gray;
    }

    .blue-background {
      background-color: #00A2E8;
    }

    .white-background {
      background-color: white;
    }
  }
  .circle {
    width: 300px;
    border: 1px solid #E0E0E0;
    border-radius: 300px;
    height: 300px;
    text-align: center;
    margin: 40px auto;
    .inner {
      width: 290px;
      height: 290px;
      border: 1px solid #E0E0E0;
      border-radius: 290px;
      margin: 5px;
      .number {
        text-align: center;
        font-size: 140px;
        margin-top: 30px;
      }
      .text {
        margin-top: -45px;
      }
    }
  }
}
